# Directories
__pycache__
lib
deps
tts
lib-cov
coverage
icloud
logs
pids
.npm
.node_repl_history
build/Release
node_modules
jspm_packages
.storage/


# Extensions
*.pid
*.seed
*.uuid
*.conf
*.db
*.db-journal
*.log
*.noload
*.pyc
*.txt
*.sqlite
*.xml
*.backup
*.token
*.jpg
*.js
*.db*
*.DS_Store
*._.DS_Store
*._packages
*.config_entries.json
*.homekit.state
*.pickle
.HA_VERSION


# Specific Files
secrets.yaml
home-assistant*.*
known_devices.yaml
proximity.yaml
ip_bans.yaml
zwave_device_config.yaml
ftvconfig.yaml
groups.yaml
automations.yaml
entity_registry.yaml
